<a href="https://colab.research.google.com/github/faizaavik/Python/blob/main/Variabel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

▶**ATURAN DEKLARASI VARIABEL DALAM PYTHON**

*   Nama Variabel dapat menggunakan huruf **(a-z, A-Z), angka(0-9), dan garis bawah(_)** Contoh : 'nama' , 'umur_mahasiswa' , 'nilai1'.
*   Nama Variabel tidak boleh dimulai dengan angka. Contoh yang tidak valid : **1nilai** , **3tahun**.
*   Python **bersifat case-sentive**, artinya variabel **nama** dan **Nama** dianggap berbeda.

▶ **CARA MEMBUAT VARIABEL PADA PYTHON**

In [9]:
integer = 1
float = 4.7
string = "faiza"
bolean = True

In [ ]:
print(type(integer))
print(type(string))
print(type(float))
print(type(bolean))

In [ ]:
print(integer)
print(float)
print(string)
print(bolean)

▶ **BERBAGAI CARA MENDEKLARASIKAN VARIABEL**

---


1.  **Cara Mendeklarasikan Variabel Sederhana**

In [16]:
Nama = "Faiza"
umur = 21
Berat_Badan = 57.8
Tinggi_Badan = 157
Pekerjaan = "Programmer"


> Dalam contoh di atas kita mendeklarasikan 3 tipe data yaitu String, Integer dan Float.

2. **Deklarasi Variabel dengan Tipe data yang berbeda**

In [17]:
x, y, z = "faiza",21,57.8



> Dalam Contoh di atas kita mendeklarasikan 3 Variabel x,y,z sekaligus denga nilai berturut turut berupa string, integer, float

3. **Deklarasi Variabel dalam 1 Variabel**

In [18]:
a = b = c = 10



> Dalam Contoh diatas ketiga variabel di beri nilai yang sama 10

4. **Deklarasi Variabel dengan Nilai Default**

In [ ]:
nama =input("Masukkan Nama Anda : ")
print (nama)


> Dalam Contoh diatas Variabel nama di beri nilai default